/* work.css */

.timeline {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.timeline::after{
  content: "";
  position: absolute;
  width:6px;
  height:90%;
  background:white;
  top:50px;
  left:50%;
  margin-left: 15.5px;
  z-index: -1;
  animation:moveline 6s linear forwards;

}

@keyframes moveline {
  0%{
    height:0;
  }

  100%{
    height:100;
  }
  
}



.timeline-box {
    position: relative; 
    margin-bottom: 40px; 
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.left-box {
    left: 0;
    margin-right: 35px; /*puish away from center*/
    padding-right: 0;
    text-align: left;
    
}


.right-box {
    left: 50%; 
    margin-left: 60px; /*push away from venter*/
    padding-left: 0;
    text-align: right;
}


.text-box {
    padding: 20px; 
}
.text-box h2{
  font-weight: 400;
  margin:0px;
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}

.timeline-box img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    border: 4px solid rgb(252, 40, 170); 

    /*abs positioning relative to whole timelinme */
    position: absolute;
    top: 20px;
    z-index: 10;
}

.left-box img {
    right: -68px;
}

.right-box img {
    left: -68px; 
}

.left-box-arrow{
  height:0;
  width:0;
  position: absolute;
  top:28px;
  z-index:1;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  border-left:15px solid white;
  right: -15px;
}

.right-box-arrow{
  height:0;
  width:0;
  position: absolute;
  top:28px;
  z-index:1;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
  border-right:15px solid white;
  left: -14px;
}


